<!--header, nav, main, section(объединяющий тэг), article, aside(объединяющий тэг), hgroup, footer,-->
<!--  <hgroup>-->
<!--    <h1>Название сайта</h1>-->
<!--    <h3>Здесь описание сайта</h3>-->
<!--  </hgroup>-->

<!--<div colory #c="colory">Some text</div>-->
<!--<button (click)="c.setColor('green')">Change Color</button>-->

<!--<ng-template appRef></ng-template>-->
<!--<ng-template adHost #c="exportAdHost"></ng-template>-->
<app-sign-modal></app-sign-modal>
<!--    <button mat-raised-button color="primary" (click)="openDialog()">Open dialog</button>-->

<app-alert></app-alert>
<div class="root-container">
  <app-header></app-header>
  <!--  <app-navigation></app-navigation>-->
  <!--  <main>-->
  <!--    &lt;!&ndash;    Только уникальный контент. Не виден браузерами без main фиг. display:block; фиг.&ndash;&gt;-->
  <!--    <router-outlet></router-outlet>-->
  <!--  </main>-->
  <!--  <aside>-->
  <!--    Photo-->
  <!--    &lt;!&ndash;    <nav>&ndash;&gt;-->
  <!--    Sidebar-->
  <!--    &lt;!&ndash;    </nav>&ndash;&gt;-->
  <!--  </aside>-->
  <!--  <section id="content-1">-->
  <!--    Section1-->
  <!--  </section>-->
  <!--  <section class="content-2">-->
  <!--    Section2-->
  <!--  </section>-->
  <!--  <footer>-->
  <!--    <p>Footer</p>-->
  <!--  </footer>-->
</div>
