<p>user works!</p>
<!--    <div class="row">-->
<!--      <div class="form-group col-6">-->
<!--        <label>Фамилия</label>-->
<!--        <input type="text" class="form-control" [(ngModel)]="systemUser.lastName" name="lastName" required minlength="3"-->
<!--               #lastName="ngModel">-->
<!--        <small class="text-danger" *ngIf="lastName.touched && lastName.hasError('required')">Обязательно для-->
<!--          заполнения</small>-->
<!--        <small class="text-danger" *ngIf="lastName.touched && lastName.hasError('minlength')">Не менее 3-х-->
<!--          символов</small>-->
<!--      </div>-->
<!--      <div class="form-group col-6">-->
<!--        <label>Имя</label>-->
<!--        <input type="text" class="form-control" [(ngModel)]="systemUser.firstName" name="firstName" required-->
<!--               minlength="3"-->
<!--               #firstName="ngModel">-->
<!--        <small class="text-danger" *ngIf="firstName.touched && firstName.hasError('required')">Обязательно для-->
<!--          заполнения</small>-->
<!--        <small class="text-danger" *ngIf="firstName.touched && firstName.hasError('minlength')">Не менее 3-х-->
<!--          символов</small>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="row">-->
<!--      <div class="form-group col-6">-->
<!--        <label>E-mail</label>-->
<!--        <input type="email" class="form-control" [(ngModel)]="systemUser.email" name="email"-->
<!--               pattern="[a-zA-Z0-9]+@[a-zA-Z0-9]+\.[a-zA-Z0-9]+" required #email="ngModel">-->
<!--        <small class="text-danger" *ngIf="email.touched && email.hasError('required')">Обязательно для-->
<!--          заполнения</small>-->
<!--        <small class="text-danger" *ngIf="email.touched && email.hasError('pattern')">Не правильный формат-->
<!--          E-mail</small>-->
<!--      </div>-->
<!--      <div class="form-group col-6">-->
<!--        <label>Дата рождения</label>-->
<!--        <input type="date" class="form-control" [(ngModel)]="systemUser.birthDay" name="birthYear" required-->
<!--               #birthYear="ngModel">-->
<!--        <small class="text-danger" *ngIf="birthYear.touched && birthYear.hasError('required')">Обязательно для-->
<!--          заполнения</small>-->
<!--      </div>-->
<!--    </div>-->
