@import "../../../../mixins";

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #1C2633;
  //width: 100%; - плохо для разных разрешений экрана.
  //max-width: 1200px;
  height: 100%; //50vh/vw - % высоты/ширины экрана
}

.nav-item {
  position: relative;
  color: white;
  cursor: pointer;
  font-size: 1.25rem;
}

.dropdown-menu {
  @include dropdown-menu();
  animation-name: dropdown-animate;
  animation-duration: 0.3s;
}

@keyframes dropdown-animate {
  from {
    top: 50px;
  }
  to {
    top: 1em;
  }
}
