.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: antiquewhite;
  //width: 100%; - плохо для разных разрешений экрана.
  //max-width: 1200px;
  height: 100%; //50vh/vw - % высоты/ширины экрана
}

div.nav-item {
  background-color: aquamarine;

}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.nav-link:hover dropdown-menu {
  display: block;
}

use {
  fill: black;
}

use:hover {
  fill: red;
}
