@import "../../../../../vars";

.logo-container {
  font-size: 1.5em;

  &-link {
    text-decoration: none;
  }
}

.branding-name {
  font-weight: bold;
  color: white;
}

.img-container {
  height: 1em;

  img {
    width: auto;
    height: 1em;
  }
}

use {
  fill: $brand-color;
}
