@import "../../../../../vars";

.logo-container {
  &-link {
    text-decoration: none;
  }
}

.branding-name {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.img-container {
  height: 25px;

  img {
    width: auto;
    height: 25px;
  }
}

use {
  fill: $brand-color;
}
