<div class="logo-container">
  <a href="#" class="site-branding-link">
    <span class="branding-name">КНИГО</span>
    <!--    <span>-->
    <!--      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi bi-search" viewBox="0 0 16 16">-->
    <!--        <use xlink:href="../assets/images/icons/magnifiers.svg#magnifier"/>-->
    <!--     </svg>-->
    <!--    </span>-->
    <span class="img-container">
      <img src="assets/images/design/logo-green.png" alt="КнигоПоиск">
    </span>
    <span class="branding-name">ОИСК</span>
  </a>
</div>
