<form [formGroup]="searchForm" (ngSubmit)="search($event)" class="child shadowBorder p-4">
  <div class="form-group">
    <label>Элементов на странице</label>
    <select formControlName="size">
      <option *ngFor="let size of sizes" [ngValue]="size.id">{{size.value}}</option>
    </select>
  </div>
  <button class="btn" type="submit">Искать</button>
</form>
<div class="books-wrapper" *ngIf="!loading; else loadingBlock">
  <div class="books-container"
       *ngIf="booksPage !== undefined && !booksPage.empty; else notFoundBlock">
    <div class="book-card" *ngFor="let book of booksPage.content |
        paginate: {
        itemsPerPage: booksPage.pageable.pageSize,
        currentPage: booksPage.pageable.pageNumber+1,
        totalItems: booksPage.totalElements}">
      <div class="cover">
        <img class="book-card-img"
             ngSrc="{{book.cover.path}}.{{book.cover.extension}}"
             onerror="this.src ='../../../assets/images/covers/emptycover-big.svg'"
             alt="{{book.title}}"
             width="220" height="320">
        <div class="estimation">{{book.estimation | number:'1.1'}}</div>
      </div>
      <div class="book-card-title" [routerLink]="['/book', book.isbn]">{{book.title}}</div>

      <app-book-actions class="card-footer" [book]="book"></app-book-actions>
      <!--    [class.completed]="book.completed" - применяем класс если атрибут - true-->
    </div>
  </div>
  <pagination-controls
    previousLabel="Предыдущая"
    nextLabel="Следующая"
    [responsive]="true"
    [maxSize]="5"
    (pageChange)="search($event)"
  ></pagination-controls>
</div>
<ng-template #loadingBlock>
  <p>Loading...</p>
</ng-template>
<ng-template #notFoundBlock>
  <p>По Вашему запросу ничего не найдено</p>
</ng-template>
