<div class="books-slider-wrapper" *ngIf="!loading; else loadingBlock">
  <!--  <div class="info-popup" *ngIf="infoPopup">Пожалуйста, зарегистрируйтесь!</div>-->
  <div class="books-slider-header">
    <h2>{{filter?.header}}</h2>
    <a href="#"><h3>{{filter?.showAll}}</h3></a>
  </div>
  <swiper-container fmSwiper [config]="config" init="false" class="books-container"
                    *ngIf="booksPage !== undefined && !booksPage.empty; else notFoundBlock">
    <swiper-slide class="slider-book-card" *ngFor="let book of booksPage.content">
      <div class="cover">
        <img class="slider-book-card-img"
             ngSrc="{{book.cover.path}}.{{book.cover.extension}}"
             onerror="this.src ='../../../assets/images/covers/emptycover-big.svg'"
             alt="{{book.title}}"
             width="220" height="320">
        <div class="estimation">{{book.estimation | number:'1.1'}}</div>
      </div>
      <div class="slider-book-card-title" [routerLink]="['/book', book.isbn]">{{book.title}}</div>

      <app-book-actions class="card-footer" [book]="book"></app-book-actions>
      <!--    [class.completed]="book.completed" - применяем класс если атрибут - true-->
    </swiper-slide>
    <!--    <div class="swiper-button-prev"></div>-->
    <!--    <div class="swiper-button-next"></div>-->

  </swiper-container>
</div>
<ng-template #loadingBlock>
  <p>Loading...</p>
</ng-template>
<ng-template #notFoundBlock>
  <p>По Вашему запросу ничего не найдено</p>
</ng-template>
