<main>
  <div class='books'>
    <div *ngIf="!loading; else loadingBlock">
      <div class="card" *ngFor="let book of books">
        <p>
          <span>{{book.title}}</span>
          <span>{{book.isbn}}</span>
          <img src="../../../assets/images/{{book.cover.path}}.{{book.cover.extension}}" alt="{{book.title}}">
        </p>
        <div class="authors" *ngFor="let author of book.authors">
          <small>{{author.role}}: {{author.name}}</small>
        </div>
        <div>
          <small><a href="#" (click)="addToLibrary(book.isbn)">Добавить в библиотеку</a></small>
        </div>
        <!--    [class.completed]="book.completed" - применяем класс если атрибут - true-->
      </div>
    </div>
    <ng-template #loadingBlock>
      <p>Loading...</p>
    </ng-template>
  </div>
</main>

