/* You can add global styles to this file, and also import other style files */
@import "vars";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 12px;
  width: 100%;
  min-height: 100vh;
}

//
//.header {
//  color: $blue;
//  @include font(#222222)
//}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dropdown {
  cursor: pointer;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
