/* You can add global styles to this file, and also import other style files */
$blue: #3bbfce;
$margin: 16px;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.header {

}
