/* You can add global styles to this file, and also import other style files */
@import "vars";
@import "mixins";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

//
//.header {
//  color: $blue;
//  @include font(#222222)
//}
