@import "../../../../../mixins";

//.nav-link:hover dropdown-menu {
//  display: block;
//}

use {
  fill: black;
}

a:hover use {
  fill: red;
}

.dropdown-menu {
  @include dropdown-menu();
  right: 0;
}
