@import "../../../../../mixins";

.personal-container {
  height: 100%;
}

.personal-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;
}

.personal-link {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.person-icon {
  height: 50%;
  aspect-ratio: 1 / 1;
}

.person-label {
  color: lightgray;
}

use {
  fill: lightgray;
}

.personal-item:hover {
  use {
    fill: white;
  }

  .person-label {
    color: white;
  }
}

.dropdown-toggle {
  position: relative;
}

.dropdown-menu {
  @include dropdown-menu();
  right: 0;
}
