<div *signModal></div>
<div class="personal-container">
  <div class="personal-item" *ngIf="!auth.isAuthenticated()" routerLinkActive="active" clickOutside
       (clickOutside)="clickOutside()" (click)="signModal.showSignModal()">
    <div class="personal-link">
      <svg xmlns="http://www.w3.org/2000/svg" class="person-icon" viewBox="0 0 16 16">
        <use xlink:href="../assets/images/icons/persons.svg#person"/>
      </svg>
    </div>
    <span class="person-label">
      <small>Вход/Регистрация</small>
      <div>Мой аккаунт</div>
    </span>
  </div>

  <div class="personal-item dropdown" *ngIf="auth.isAuthenticated()" routerLinkActive="active">
    <div class="dropdown-toggle">
      <a class="nav-link">
        <svg xmlns="http://www.w3.org/2000/svg" class="person-icon" viewBox="0 0 16 16">
          <use xlink:href="../assets/images/icons/persons.svg#person-fill"/>
        </svg>
      </a>
      <div class="dropdown-menu">
        <ul>
          <li><a class="nav-link" href="#">Профиль</a></li>
          <li><a class="nav-link" href="#">Моя библиотека</a></li>
          <li><a class="nav-link" href="#" (click)="logout($event)">Выйти</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<!--      <div  routerLinkActive="active">-->
<!--        <a [routerLink]="['/admin', 'create']">Добавить</a>-->
<!--      </div>-->

<!--<div class="nav-item" *ngIf="!auth.isAuthenticated()" routerLinkActive="active">-->
<!--  <a class="nav-link" [routerLink]="['/', 'registration']">Регистрация</a>-->
<!--</div>-->
