<div class="header-personal-item" *ngIf="!auth.isAuthenticated()" routerLinkActive="active" clickOutside
     (clickOutside)="clickOutside()">
  <a href="#" class="nav-link" (click)="showSignModal()">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi bi-person" viewBox="0 0 16 16">
      <use xlink:href="../assets/images/icons/persons.svg#person"/>
    </svg>
  </a>
</div>

<div class="header-personal-item dropdown" *ngIf="auth.isAuthenticated()" routerLinkActive="active">
  <div class="dropdown-toggle">
    <a class="nav-link">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi bi-person" viewBox="0 0 16 16">
        <use xlink:href="../assets/images/icons/persons.svg#person-fill"/>
      </svg>
    </a>
    <div class="dropdown-menu">
      <ul>
        <li><a class="nav-link" href="#">Профиль</a></li>
        <li><a class="nav-link" href="#">Моя библиотека</a></li>
        <li><a class="nav-link" href="#" (click)="logout($event)">Выйти</a></li>
      </ul>
    </div>
  </div>
</div>


<!--      <div  routerLinkActive="active">-->
<!--        <a [routerLink]="['/admin', 'create']">Добавить</a>-->
<!--      </div>-->

<!--<div class="nav-item" *ngIf="!auth.isAuthenticated()" routerLinkActive="active">-->
<!--  <a class="nav-link" [routerLink]="['/', 'registration']">Регистрация</a>-->
<!--</div>-->
