@import "../../../../../vars";

.search-container {
  height: 50%;
}

.search-form {
  height: 100%;
}

.search-items {
  height: 100%;
  display: flex;
  align-items: center;
  justify-items: stretch;
}

.input-area {
  height: 100%;
  padding-left: 1em;
  border-radius: 5px 0 0 5px;
  flex-grow: 1;
  @media (max-width: 501px) {
    display: none;
  }
}

.input-area::placeholder {
  color: #212529;
  opacity: 0.4;
}

.input-area:focus {
  color: #212529;
  background-color: #fff;
  outline: 0;
}

.search-button {
  background-color: $brand-color;
  height: 100%;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 5px 5px 0;
  @media (max-width: 501px) {
    border-radius: 5px;
  }
  transition: opacity 0.15s ease-in-out;

  .search-icon {
    height: 50%;
    width: auto;
  }
}

.search-button:hover {
  opacity: 0.5;
}

.search-button:active {

}

use {
  fill: white;
}
