.book-card {
  padding: 1rem;

  &-spec {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    &-left {
      display: flex;

      background-color: whitesmoke;
    }
  }

  &-cover {

  }

  &-info {
    display: flex;
    flex-direction: column;

    .actions {
      align-self: flex-end;
    }
  }

  &-description {

  }
}
