<div class="book-card" *ngIf="bookFull$ | async as book; else loading">
  <!--  <button routerLink="/" class="btn">На главную</button>-->
  <p>{{book.genre?.path}}</p>
  <h2>{{book.title}}</h2>
  <div class="book-card-spec">
    <div class="book-card-spec-left">
      <div class="book-card-cover">
        <img class="book-card-img" src="../../../assets/images/covers/{{book.cover.path}}.{{book.cover.extension}}"
             alt="{{book.title}}">
      </div>
      <div class="book-card-info">
        <div *ngFor="let author of book.authors">
          <p>{{author.role}}: {{author.name}}</p>
        </div>
        <!--      <p>{{book.price}}</p>-->
        <p>Страниц: {{book.pages}}</p>
        <!--      <p>ISBN: {{book.isbn}}</p>-->
        <div *ngFor="let category of book.categories">
          <p>{{category.title}}</p>
        </div>
        <p>{{book.publisher?.title}}, {{book.year}}</p>
        <!--      <p>{{book.publisher?.description}}</p>-->
        <p>Серия: {{book.series?.title}}</p>
        <!--      <p>{{book.series?.description}}</p>-->
        <a href="#" (click)="addToLibrary(book.isbn, status.WILL_READ)">Добавить в библиотеку</a>
      </div>
    </div>
    <div class="book-card-description">
      <p>{{book.estimation}}</p>
      <p>{{book.description}}</p>
    </div>
  </div>
  <div class="review" *ngFor="let review of book.reviews">
    <p>
      {{review.review}}
    </p>
  </div>

  <form [formGroup]="form" (ngSubmit)="saveReview(book.isbn)" *ngIf="isShowReviewForm">
    <h1>Создание нового поста</h1>

    <div
      class="form-control"
      [ngClass]="{invalid: form.get('title')?.touched && form.get('title')?.invalid}"
    >
      <label for="title">Название поста:</label>
      <input id="title" type="text" formControlName="title">
      <div
        *ngIf="form?.get('title')?.touched && form?.get('title')?.invalid"
        class="validation"
      >
        <small *ngIf="form?.get('title')?.errors?.required">
          Введите название поста
        </small>
      </div>
    </div>

    <div class="form-control">
      <label for="text">Контент поста:</label>
      <input id="text" formControlName="text" type="textarea">
    </div>

    <div
      class="form-control"
      [ngClass]="{invalid: form.get('author')?.touched && form.get('author')?.invalid}"
    >
      <label for="author">Автор поста:</label>
      <input id="author" type="text" formControlName="author">
      <div
        *ngIf="form?.get('author')?.touched && form?.get('author')?.invalid"
        class="validation"
      >
        <small *ngIf="form?.get('author')?.errors?.required">
          Введите автора поста
        </small>
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-block btn-dark"
      [disabled]="form.invalid"
    >Создать пост
    </button>
  </form>
  <button class="toggle-review-form" (click)="toggleReviewForm()">{{buttonText}}</button>
</div>
<ng-template #loading>
  <p class="text-center">Загружаю описание книги...</p>
</ng-template>

<!--            <button (click)="employeeDetails(employee.id)" class="btn btn-info" style="margin-left: 10px">Details</button>-->
