<div class="book-card" *ngIf="bookFull$ | async as book; else loading">
  <!--  <button routerLink="/" class="btn">На главную</button>-->
  <p>{{book.genre?.path}}</p>
  <h2>{{book.title}}</h2>
  <div class="book-card-spec">
    <div class="book-card-spec-left">
      <div class="book-card-cover">
        <img class="book-card-img" src="{{book.cover.path}}.{{book.cover.extension}}"
             alt="{{book.title}}"
             onerror="this.src ='../../../assets/images/covers/emptycover-big.svg'">
      </div>
      <div class="book-card-info">
        <div *ngFor="let author of book.authors">
          <p>{{author.role}}: {{author.name}}</p>
        </div>
        <!--      <p>{{book.price}}</p>-->
        <p>Страниц: {{book.pages}}</p>
        <!--      <p>ISBN: {{book.isbn}}</p>-->
        <div *ngFor="let category of book.categories">
          <p>{{category.title}}</p>
        </div>
        <p>{{book.publisher?.title}}, {{book.year}}</p>
        <!--      <p>{{book.publisher?.description}}</p>-->
        <p>Серия: {{book.series?.title}}</p>
        <!--      <p>{{book.series?.description}}</p>-->
        <app-book-actions class="actions" [book]="book"></app-book-actions>
      </div>
    </div>
    <div class="book-card-description">
      <p>{{book.estimation}}</p>
      <p>{{book.description}}</p>
    </div>
  </div>
  <app-add-review [book]="book"></app-add-review>
  <div class="review" *ngFor="let review of book.reviews">
    <p>
      {{review.review}}
    </p>
  </div>
</div>
<ng-template #loading>
  <p class="text-center">Загружаю описание книги...</p>
</ng-template>

<!--            <button (click)="employeeDetails(employee.id)" class="btn btn-info" style="margin-left: 10px">Details</button>-->
