<div class="book-card">
  <h1>Book title</h1>
  <button routerLink="/" class="btn">На главную</button>
  <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias amet beatae dolor error et fugiat, iste iure necessitatibus non possimus quasi soluta voluptas. Amet inventore placeat quae quaerat voluptatum!</span><span>Ab aliquam cumque eos et facilis harum impedit nostrum odit quo reprehenderit sunt suscipit tempora, unde velit veniam voluptates voluptatibus? Accusamus autem cupiditate facilis impedit in laborum perferendis saepe voluptatibus.</span><span>Cupiditate deleniti dolores excepturi maxime odio provident quaerat quod reiciendis suscipit veniam! Alias aperiam architecto beatae commodi cum eos et, laudantium porro possimus quidem quis rem veniam. Omnis, rerum, temporibus.</span>
  </p>
  <!--  <p>{{book.id}}</p>-->
  <!--  <p>{{book.title}}</p>-->
</div>

