.book-card {
  padding: 1rem;

  &-spec {
    display: flex;
    justify-content: space-around;

    &-left {
      display: flex;
      flex-grow: 1;
      background-color: whitesmoke;
    }
  }

  &-cover {

  }

  &-info {
    display: flex;
    flex-direction: column;

    .actions {
      align-self: flex-end;
    }
  }

  &-description {
    max-width: 40%;
  }
}
